# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    menu.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: anjansse <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/03/25 10:11:50 by anjansse          #+#    #+#              #
#    Updated: 2019/03/26 19:56:44 by anjansse         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body {
	margin: 0;
	padding: 0;
	background-color: grey;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Germania One', cursive;
	font-size: 75px;
}

ul {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}

/*Menu*/
ul.menu > li {
	margin: 350px 0 ;
	position: relative;
	left: 40%;
	float: left;
}

ul.menu > li > a {
	display: block;
	background-color: #21869B;
	text-align: center;
	padding: 10px 15px 10px 15px; 
	font-size: 15px;
	color: #ffffff; 
}

ul.menu >li > a:hover {
	background-color: green;
}

/*Submenu*/

ul.submenu {
	display: none;
	position: absolute;
	width: 120px;
	top: 37px;
	left: 0;
	background-color: white;
	border: 1px solid #21869B;
}

ul.submenu > li {
	display: block;
}

ul.submenu > li > a {
	display: block;
	padding: 10px;
	color: white;
	background-color: #21869B;
	text-decoration: none;
}

ul.submenu > li > a:hover {
	text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
	display: block;
}
